<h3>Reviewing <%= @recipe.name %> <small><i>by <%= @recipe.chef.chefname %></i></small></h3>

<%= form_for @review, url: {action: "create" } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :body %>
  <%= f.text_area :body, rows: '15' %>
  
  <%= f.submit(@review.new_record? ? 'Submit Review' : 'Update Review', class: 'btn btn-success') %>

<% end %>